*,*::after,::before{
    box-sizing: border-box;
}
/* Typography */
html{
    font-size: 62.5%;
}
:root{
    --colour-primary:#2584ff;
    --colour-secondary:#00d9ff;
    --colour-accent:#ff3400;
    --colour-headings:#1b0760;
    --colour-body:#918ca4;
    --colour-border:#ccc;
    --border-radious:30px;
}
body{
    font-family:Inter,Arial, Helvetica, sans-serif ;
    color: var(--colour-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color: var(--colour-headings);
    margin-bottom: 1rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0;

}
@media screen and (min-width:1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}
/* Links */
a{
    text-decoration: none;
}
 .link-arrow{
    color: var(--colour-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
 }
 .link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s linear; 
 }  
 .link-arrow:hover::after{
margin-left:10px;
 }
 @media screen and (min-width:1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
    
 }
 /* Badges */

 .badge{
    border-radius: 20px;
    font-size: 2rem ;
    font-weight:600;
    padding: 0.5rem 2rem;
    white-space:nowrap;
}
.badge--primary{
    background-color: var(--colour-primary);
    color: #fff;
}
.badge--secondary{
    background-color: var(--colour-secondary);
    color: #fff;
}
.badge--small{
    font-size: 1.6rem;
}
@media screen and (min-width:1024px){
.badge{
    font-size: 1.5rem;
}
.badge--small{
    font-size: 1.2rem;
}
 }
 /* Lists */
 .list{
    list-style: none;
    padding-left: 0;
    color: var(--colour-headings);

 }
.list--inline .list__items{
    display: inline-block;
    margin-right: 2rem;
    
}
.list--tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;

}
 .list--tick .list__items{
    padding-left: 0.5rem;
    margin-bottom: 1rem;

}
@media screen and (min-width:1024px) {
    .list--tick .list__items{
        padding-left: 0;
    }
}

/* Icons */
.icon{
    width: 40px;
    height: 40px;
}
.icon--primary{
    fill: var(--colour-primary); 
}

.icon-container{
    background:#f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
}
/* Buttons */
.btn{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    border: 0;
    border-radius: 40px;
    margin: 1rem 0;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;

}
.btn--primary{
    background: var(--colour-primary);
    color: #fff;
}
.badge--primary:hover{
    background:#4290f6;
}
.btn--secondary{
    background: var(--colour-secondary);
    color: #fff; 
}
.btn--secondary:hover{
    background: #00c8eb;
}
.btn--accent{
    background: var(--colour-accent);
    color: #fff;
}
.btn--accent:hover{
    background: #ec3000;
}
.btn--block{
    width: 100%;
    display: inline-block;
}
.btn--outline{
    background: #fff;
    color: var(--colour-headings);
    border: 2px solid var(--colour-headings);
}
.btn--outline:hover {
    background: var(--colour-headings);
    color: #fff;
}
@media screen and (min-width:1024px){
    .btn{
        font-size: 1.5rem;
    }
    
}

 /* Inputs */

 .input{
    border-radius: var(--border-radious);
    border: 1px solid var(--colour-border);
    color: var(--colour-headings);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3rem;
 }
 ::placeholder{
    color: #cdcbd7;
 }
 
  /* Inputs Groups */
  .input-group{
 border: 1px solid var(--colour-border);
 border-radius:var(--border-radious);
 display: flex;
 
 }
 .input-group .input{
     border: 0;
     flex-grow: 1;
    padding: 1.5rem 1rem; 
 }
 .input-group .btn{
     margin: 4px;
 }
 
 @media screen and (min-width:1024px){
    .input{
        font-size: 1.5rem;
    }
 }
 /* Cards */
 .card{
    border-radius: 7px;
    box-shadow:0 0 20px 10px #f3f3f3 ;
    overflow: hidden;
 }
 .card--primary .card__header{
    color: #fff;
background-color:var(--colour-primary);
 }
 .card--secondary .card__header{
    color: #fff;
background-color:var(--colour-secondary);
 }
 .card__header,
 .card__body{
    padding: 2rem 3rem;
 }