*,*::after,::before{
    box-sizing: border-box;
}
/* Typography */
html{
    font-size: 62.5%;
}
:root{
    --colour-primary:#2584ff;
    --colour-secondary:#00d9ff;
    --colour-accent:#ff3400;
    --colour-headings:#1b0760;
    --colour-body:#918ca4;
    --colour-body-daarker:#5c5577;
    --colour-border:#ccc;
    --border-radious:30px;
}
body{
    font-family:Inter,Arial, Helvetica, sans-serif ;
    color: var(--colour-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color: var(--colour-headings);
    margin-bottom: 1rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0;

}
@media screen and (min-width:1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}
/* Links */
a{
    text-decoration: none;
}
 .link-arrow{
    color: var(--colour-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
 }
 .link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s linear; 
 }  
 .link-arrow:hover::after{
margin-left:10px;
 }
 @media screen and (min-width:1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
    
 }
 /* Badges */

 .badge{
    border-radius: 20px;
    font-size: 2rem ;
    font-weight:600;
    padding: 0.5rem 2rem;
    white-space:nowrap;
}
.badge--primary{
    background-color: var(--colour-primary);
    color: #fff;
}
.badge--secondary{
    background-color: var(--colour-secondary);
    color: #fff;
}
.badge--small{
    font-size: 1.6rem;
}
@media screen and (min-width:1024px){
.badge{
    font-size: 1.5rem;
}
.badge--small{
    font-size: 1.2rem;
}
 }
 /* Lists */
 .list{
    list-style: none;
    padding-left: 0;
    color: var(--colour-headings);

 }
.list--inline .list__items{
    display: inline-block;
    margin-right: 2rem;
    
}
.list--tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;

}
 .list--tick .list__items{
    padding-left: 0.5rem;
    margin-bottom: 1rem;

}
@media screen and (min-width:1024px) {
    .list--tick .list__items{
        padding-left: 0;
    }
}

/* Icons */
.icon{
    width: 40px;
    height: 40px;
}
.icon--primary{
    fill: var(--colour-primary); 
}

.icon-container{
    background:#f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
}
/* Buttons */
.btn{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    border: 0;
    border-radius: 40px;
    margin: 1rem 0;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;

}
.btn--primary{
    background: var(--colour-primary);
    color: #fff;
}
.badge--primary:hover{
    background:#4290f6;
}
.btn--secondary{
    background: var(--colour-secondary);
    color: #fff; 
}
.btn--secondary:hover{
    background: #00c8eb;
}
.btn--accent{
    background: var(--colour-accent);
    color: #fff;
}
.btn--accent:hover{
    background: #ec3000;
}
.btn--block{
    width: 100%;
    display: inline-block;
}
.btn--outline{
    background: #fff;
    color: var(--colour-headings);
    border: 2px solid var(--colour-headings);
}
.btn--outline:hover {
    background: var(--colour-headings);
    color: #fff;
}
@media screen and (min-width:1024px){
    .btn{
        font-size: 1.5rem;
    }
    
}

 /* Inputs */

 .input{
    border-radius: var(--border-radious);
    border: 1px solid var(--colour-border);
    color: var(--colour-headings);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3rem;
 }
 ::placeholder{
    color: #cdcbd7;
 }
 
  /* Inputs Groups */
  .input-group{
 border: 1px solid var(--colour-border);
 border-radius:var(--border-radious);
 display: flex;
 
 }
 .input-group .input{
     border: 0;
     flex-grow: 1;
    padding: 1.5rem 1rem; 
 }
 .input-group .btn{
     margin: 4px;
 }
 
 @media screen and (min-width:1024px){
    .input{
        font-size: 1.5rem;
    }
 }
 /* Cards */
 .card{
    border-radius: 7px;
    box-shadow:0 0 20px 10px #f3f3f3 ;
    overflow: hidden;
 }
 .card--primary .card__header{
    color: #fff;
background-color:var(--colour-primary);
 }
 .card--secondary .card__header{
    color: #fff;
background-color:var(--colour-secondary);
 }
 .card__header,
 .card__body{
    padding: 2rem 3rem;
 }
 
 /* plans */

 .plan__name{
    color: #fff;
    font-weight: 500;
    margin: 0;
    font-size: 2.4rem;
 }
 .plan__price{
    font-size: 6rem;
 }
 .plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
 }
 .plan__discription{
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
    display: block;
 }
 .card--secondary .badge{
    background-color: #02cdf1;
 }
 .card--primary .badge{
    background-color:#2475dd;

 
 }
 .plan .list__items{
    margin-bottom: 2rem;
 }
 .plan--popular .card__header::before{
content: url(../images/popular.svg) ;
width: 40px;
display: inline-block;
position: absolute;
top: -6px;
right:5%;
 }
 .plan--popular .card__header{
    position:relative;

 }

 @media screen and (min-width:1024px) {
    .plan__name{
        font-size: 1.4rem;
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size: 1.6rem;
    }
    .plan__discription{
        font-size: 1.7rem;
    }
 }
 /* Media */
 .media{
    display: flex;
 }
 .media__title{
    margin-top: 0;
 }
 .media__body{
margin: 0 2rem;
 }
 .media__image{
    margin-top: 1rem;
 }

 /* Quote */
 .quote{
font-size: 3rem;
color:var(--colour-body-daarker) ;
line-height: 1.3;
}
.quote__text::before{
    content: open-quote;
}

.quote__text::after{
    content:close-quote;
    font-style: italic;
}

 .quote__image{
    margin: 0 0.5rem;
 }
 .quote__author{
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
 }
 .quote__organization{
    color: var(--colour-headings);
    opacity: .4;
    font-size: 2rem;
    font-style: normal;
 }
 .quote__line{
    position: relative;
bottom: 10px;
 }

 @media screen and (min-width:1024px) {
    .quote{
font-size: 2rem;
    }
.quote__author{
    font-size: 2.4rem;
}
.quote__organization{
    font-size: 1.6rem;
}
}
/* Grids */
.grid{
    display: grid;
}
@media screen and (min-width:768px){
    .grid--1x2{
      grid-template-columns:repeat(2, 1fr); 
    }
}
@media screen and (min-width:1024px){
    .grid--1x3{
      grid-template-columns:repeat(3, 1fr); 
    }
}