<footer class="block block--dark  footer">
    <div class="container grid footer__sections">
    <div>
            
        <div class="collapsible  footer__section">
        <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
            <svg class="icon icon--white collapsible__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>  
        
        </header>
        <div class="collapsible__content">
            <ul class="list ">
                <li class="list__items"><a href="#">Website Hosting</a></li>
                <li class="list__items"><a href="#">Free Automated Wordpress</a></li>
                <li class="list__items"><a href="#">Migrations</a></li>
            </ul>              
        </div>
        </div>
    </div>
    <div>
            
        <div class="collapsible  footer__section">
        <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
            <svg class="icon icon--white collapsible__chevron ">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>  
        
        </header>
        <div class="collapsible__content">
            <ul class="list ">
                <li class="list__items"><a href="#">About</a></li>
                <li class="list__items"><a href="#">Affiliates</a></li>
                <li class="list__items"><a href="#">Blog</a></li>
            </ul>              
        </div>
        </div>
    </div>
    <div>
            
        <div class="collapsible  footer__section">
        <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
            <svg class="icon icon--white collapsible__chevron ">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>  
        
        </header>
        <div class="collapsible__content">
            <ul class="list ">
                <li class="list__items">Contact</li>
                <li class="list__items">Knowledge Base</li>
                <li class="list__items">FAQ</li>
            </ul>              
        </div>
        </div>
    </div>
    <div>
            
        <div class="collapsible  footer__section">
        <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
            <svg class="icon icon--white collapsible__chevron ">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>  
        
        </header>
        <div class="collapsible__content">
            <ul class="list ">
                <li class="list__items">Domain Checker</li>
                <li class="list__items">Domine Transfer</li>
                <li class="list__items">Free Domine</li>
            </ul>              
        </div>
        </div>
    </div>
    <div class="footer__brand">
        <img src="images/logo.svg" alt="">
        <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
    </div>
    </div>
</footer>