
    <div class="media">

        <div class="media__image">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#wordpress"></use>
                </svg>  
            </span>
        </div>
        <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p class="media__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis dolorem praesentium nihil dolores expedita dignissimos non ratione id velit ut?

            </p>
        </div>

    </div>
